/Lecture Note/
/.idea/
/Programming_Homework1/*SGD*/
/try.py
/Programming_Homework1/programming_hw1.zip
/Homework/COMP5212_Written_Homework*_Submission.pdf
/COMP5212_Written_Homework*_Submission.pdf
/Programming_Homework1/report.pdf
/Programming_Homework2/report.pdf
/Programming_Homework2/code.zip
/Programming_Homework3/*record.npy